<div class="p-3">
    <h1>Edición de Noticias</h1>
    <div>
        <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
            <div class="row align-items-end p-2">
                <div class="col-12 col-md-6">
                    <small class="d-block text-secondary">Imagen</small>
                    <div class=""><input class="form-control" type="text" formControlName="imagen"></div>
                </div>
                <div class="col-12 col-md-6">
                    <small class="d-block text-secondary">Fecha</small>
                    <input class="form-control text-secondary" type="date" formControlName="fecha">
                </div>
            </div>
            <div class="p-2">
                <input class="form-control" type="text" placeholder="Título de Noticia" formControlName="titulo">
            </div>
            <div class="p-2">
                <editor [init]="{ plugins: 'lists link image table code help wordcount' }" formControlName="contenido">
                </editor>
            </div>
            <div class="row">
                <div class="p-1 col-12 col-md-4">
                    <input class="btn btn-dark w-100" type="submit" value="Guardar Noticia">
                </div>
                <div class="p-1 col-12 col-md-4">
                    <a [routerLink]="['/dashboard/actualidadlist']"><input class="btn btn-dark w-100" type="button"
                            value="Cancelar"></a>
                </div>
            </div>
        </form>
    </div>

</div>