<div class="container-fluid containerCss text-center p-md-5">
    <div>
        <div class="row pt-4">
            <div class="col-6 col-md-3 px-4 py-1 p-md-5"><a [routerLink]="['/trabajodomestico/1']">
                    <img class="w-100" src="../../../assets/bt-trabajo.png" alt="Ver Trabajo Doméstico">
                </a>
            </div>
            <div class="col-6 col-md-3 px-4 py-1 p-md-5"><a [routerLink]="['/contratacion/1']">
                    <img class="w-100" src="../../../assets/bt-contratacion.png" alt="Ver Contratación">
                </a>
            </div>
            <div class="col-6 col-md-3 px-4 py-1 p-md-5"><a [routerLink]="['/jornadalaboral']">
                    <img class="w-100" src="../../../assets/bt-jornada-laboral.png" alt="Ver Jornada Laboral">
                </a></div>
            <div class="col-6 col-md-3 px-4 py-1 p-md-5"><a [routerLink]="['/salario/1']">
                    <img class="w-100" src="../../../assets/bt-salud.png" alt="Ver Salario">
                </a>
            </div>
            <div class="col-6 col-md-3 px-4 py-1 p-md-5"><a [routerLink]="['/seguridadsocial']">
                    <img class="w-100" src="../../../assets/bt-seguridad-social.png" alt="Ver Seguridad Social">
                </a></div>
            <div class="col-6 col-md-3 px-4 py-1 p-md-5"><a [routerLink]="['/beneficioslaborales']">
                    <img class="w-100" src="../../../assets/bt-beneficios-laborales.png" alt="Ver Beneficios Laborales">
                </a>
            </div>
            <div class="col-6 col-md-3 px-4 py-1 p-md-5"><a [routerLink]="['/enfermedadesaccidentes']">
                    <img class="w-100" src="../../../assets/bt-enfermedades-accidentes.png"
                        alt="Ver Enfermedades y Accidentes">
                </a>
            </div>
            <div class="col-6 col-md-3 px-4 py-1 p-md-5"><a [routerLink]="['/licenciaspermisos']">
                    <img class="w-100" src="../../../assets/bt-licencias-y-permisos.png" alt="Ver Licencias y Permisos">
                </a>
            </div>
        </div>
    </div>
</div>