<div class="headerCalculadora">
    <div class="row m-0 text-center p-4 pb-5 text-light">
        <div class="col-6">
            <div class="headerCalculadora__titles">$1.300.000</div>
            <div class="headerCalculadora__subtitles">SALARIO MÍNIMO</div>
        </div>
        <div class="col-6">
            <div class="headerCalculadora__titles ">$162.000</div>
            <div class="headerCalculadora__subtitles">AUXILIO DE TRANSPORTE</div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>