<div class="boxHeader bg-light">
    <div class="m-0 p-0 ">
        <nav class="navbar navbar-light">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-9 col-md-10"><a [routerLink]="['/']">
                            <img class="img-fluid w-100 mb-3" src="../../../assets/aliadas-logo.png" alt="">
                        </a>
                    </div>
                    <div class="col-3 col-md-2">
                        <button class="navbar-toggler rounded-circle toggleColor p-2" type="button"
                            data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <i class="bi bi-list fs-1"></i>
                        </button>
                    </div>
                </div>

                <div class="collapse navbar-collapse subMenuColor m-3" id="navbarText">
                    <div class="p-1">
                        <a [routerLink]="['/']" class="text-decoration-none">
                            <div class="col-12 py-3 fs-6 text-secondary" data-bs-toggle="collapse"
                                data-bs-target=".navbar-collapse.show"><span><i
                                        class="bi bi-house-door-fill iconMenu px-3"></i></span>
                                Inicio</div>
                        </a>
                        <a [routerLink]="['/calculadora']" class="text-decoration-none">
                            <div class="col-12 py-3 fs-6 text-secondary" data-bs-toggle="collapse"
                                data-bs-target=".navbar-collapse.show"><span><i
                                        class="bi bi-calculator iconMenu px-3 "></i></span>
                                Calculadora</div>
                        </a>
                        <a [routerLink]="['/misderechos']" class="text-decoration-none">
                            <div class="col-12 py-3 fs-6 text-secondary" data-bs-toggle="collapse"
                                data-bs-target=".navbar-collapse.show"><span><i
                                        class="bi bi-book-fill iconMenu px-3"></i></span> Mis
                                Derechos</div>
                        </a>
                        <a [routerLink]="['/guiaentidades']" class="text-decoration-none">
                            <div class="col-12 py-3 fs-6 text-secondary" data-bs-toggle="collapse"
                                data-bs-target=".navbar-collapse.show"><span><i
                                        class="bi bi-list-check iconMenu px-3"></i></span> Guía de
                                Entidades
                            </div>
                        </a>
                        <a [routerLink]="['/actualidad']" class="text-decoration-none">
                            <div class="col-12 py-3 fs-6 text-secondary" data-bs-toggle="collapse"
                                data-bs-target=".navbar-collapse.show"><span><i
                                        class="bi bi-megaphone-fill iconMenu px-3"></i></span> Actualidad</div>
                        </a>
                        <a [routerLink]="['/violenciaacoso']" class="text-decoration-none">
                            <div class="col-12 py-3 fs-6 text-secondary" data-bs-toggle="collapse"
                                data-bs-target=".navbar-collapse.show"><span><i
                                        class="bi bi-sign-stop-fill iconMenu px-3"></i></span> Violencia y Acoso</div>
                        </a>
                        <a [routerLink]="['/libertadsindical']" class="text-decoration-none">
                            <div class="col-12 py-3 fs-6 text-secondary" data-bs-toggle="collapse"
                                data-bs-target=".navbar-collapse.show"><span><i
                                        class="bi bi-people-fill iconMenu px-3"></i></span>
                                Libertad
                                Sindical</div>
                        </a>
                        <a [routerLink]="['/denuncia']" class="text-decoration-none">
                            <div class="col-12 py-3 fs-6 text-secondary" data-bs-toggle="collapse"
                                data-bs-target=".navbar-collapse.show"><span><i
                                        class="bi bi-exclamation-triangle-fill iconMenu px-3"></i></span> Denuncia
                            </div>
                        </a>
                        <a [routerLink]="['/empleador']" class="text-decoration-none">
                            <div class="col-12 py-3 fs-6 text-secondary" data-bs-toggle="collapse"
                                data-bs-target=".navbar-collapse.show"><span><i
                                        class="bi bi-hand-thumbs-up-fill iconMenu px-3"></i></span> Empleador</div>
                        </a>
                        <a [routerLink]="['/organizaciones']" class="text-decoration-none">
                            <div class="col-12 py-3 fs-6 text-secondary" data-bs-toggle="collapse"
                                data-bs-target=".navbar-collapse.show"><span><i
                                        class="bi bi-puzzle-fill iconMenu px-3"></i></span> Organizaciones de Apoyo
                            </div>
                        </a>
                        <a [routerLink]="['/sobrealiadas']" class="text-decoration-none">
                            <div class="col-12 py-3 fs-6 text-secondary" data-bs-toggle="collapse"
                                data-bs-target=".navbar-collapse.show"><span><i
                                        class="bi bi-info-square-fill iconMenu px-3"></i></span> Sobre Aliadas
                            </div>
                        </a>
                        <a [routerLink]="['/terminosycondiciones']" class="text-decoration-none">
                            <div class="col-12 py-3 fs-6 text-secondary" data-bs-toggle="collapse"
                                data-bs-target=".navbar-collapse.show"><span><i
                                        class="bi bi-check-square-fill iconMenu px-3"></i></span> Términos y Condiciones
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="topLine"><img class="w-100 topLine" src="../../../assets/color-top.jpg" alt="Linea Top"></div>
</div>