<div class="p-2">
    <div class="p-1">
        <button class="btn tituloCall w-100">Líneas telefónicas priorizadas</button>
    </div>
    <div class="p-1">

        <div class="bg-light rounded-3 shadow p-2">
            <div class="row p-2 align-items-center">
                <div class="col-2 text-center"><i class="bi bi-person-circle fs-1 text-secondary"></i></div>
                <div class="col-6">
                    <div class="text-center fw-bold fs-2">123</div>
                    <div class="text-center textEntidad">LÍNEA ÚNICA DE EMERGENCIAS</div>
                </div>
                <div class="col-4 text-center p-1">
                    <button class="btn btn-secondary" (click)="llamar('123')"><span><i
                                class="bi bi-telephone-outbound-fill"></i></span>
                        Llamar</button>
                </div>
            </div>
        </div>

        <div class="bg-light rounded-3 shadow p-2">
            <div class="row p-2 align-items-center">
                <div class="col-2 text-center"><i class="bi bi-person-circle fs-1 text-secondary"></i>
                </div>
                <div class="col-6">
                    <div class="text-center fw-bold fs-2">155</div>
                    <div class="text-center textEntidad">ORIENTACIÓN A MUJERES VÍCTIMAS DE VIOLENCIA</div>
                </div>
                <div class="col-4 text-center p-1">
                    <button class="btn btn-secondary" (click)="llamar('115')"><span><i
                                class="bi bi-telephone-outbound-fill"></i></span>
                        Llamar</button>
                </div>
            </div>
        </div>

        <div class="bg-light rounded-3 shadow p-2">
            <div class="row p-2 align-items-center">
                <div class="col-2 text-center"><i class="bi bi-person-circle fs-1 text-secondary"></i>
                </div>
                <div class="col-6">
                    <div class="text-center fw-bold fs-2">120</div>
                    <div class="text-center textEntidad">MINISTERIO DE TRABAJO</div>
                </div>
                <div class="col-4 text-center p-1">
                    <button class="btn btn-secondary" (click)="llamar('120')"><span><i
                                class="bi bi-telephone-outbound-fill"></i></span>
                        Llamar</button>
                </div>
            </div>
        </div>

        <div class="bg-light rounded-3 shadow p-2">
            <div class="row p-2 align-items-center">
                <div class="col-2 text-center"><i class="bi bi-person-circle fs-1 text-secondary"></i>
                </div>
                <div class="col-6">
                    <div class="text-center fw-bold fs-2">122</div>
                    <div class="text-center textEntidad">FISCALÍA GENERAL DE LA NACIÓN</div>
                </div>
                <div class="col-4 text-center p-1">
                    <button class="btn btn-secondary" (click)="llamar('122')"><span><i
                                class="bi bi-telephone-outbound-fill"></i></span>
                        Llamar</button>
                </div>
            </div>
        </div>

        <div class="bg-light rounded-3 shadow p-2">
            <div class="row p-2 align-items-center p-1">
                <div class="col-2 text-center"><i class="bi bi-person-circle fs-1 text-secondary"></i>
                </div>
                <div class="col-6">
                    <div class="text-center fw-bold fs-2">141</div>
                    <div class="text-center textEntidad">INST. COLOMBIANO DE BIENESTAR FAMILIAR (ICBF)</div>
                </div>
                <div class="col-4 text-center p-1">
                    <button class="btn btn-secondary" (click)="llamar('141')"><span><i
                                class="bi bi-telephone-outbound-fill"></i></span>
                        Llamar</button>
                </div>
            </div>
        </div>

        <div class="bg-light rounded-3 shadow p-2">
            <div class="row p-2 align-items-center p-1">
                <div class="col-2 text-center"><i class="bi bi-person-circle fs-1 text-secondary"></i>
                </div>
                <div class="col-6">
                    <div class="text-center fw-bold fs-2">144</div>
                    <div class="text-center textEntidad">DEFENSA CIVIL</div>
                </div>
                <div class="col-4 text-center p-1">
                    <button class="btn btn-secondary" (click)="llamar('144')"><span><i
                                class="bi bi-telephone-outbound-fill"></i></span>
                        Llamar</button>
                </div>
            </div>
        </div>

        <div class="bg-light rounded-3 shadow p-2">
            <div class="row p-2 align-items-center p-1">
                <div class="col-2 text-center"><i class="bi bi-person-circle fs-1 text-secondary"></i>
                </div>
                <div class="col-6">
                    <div class="text-center fw-bold fs-2">119</div>
                    <div class="text-center textEntidad">BOMBEROS COLOMBIA</div>
                </div>
                <div class="col-4 text-center p-1">
                    <button class="btn btn-secondary" (click)="llamar('119')"><span><i
                                class="bi bi-telephone-outbound-fill"></i></span>
                        Llamar</button>
                </div>
            </div>
        </div>

        <div class="bg-light rounded-3 shadow p-2">
            <div class="row p-2 align-items-center p-1">
                <div class="col-2 text-center"><i class="bi bi-person-circle fs-1 text-secondary"></i>
                </div>
                <div class="col-6">
                    <div class="text-center fw-bold fs-2">111</div>
                    <div class="text-center textEntidad">ATENCIÓN A DESASTRES</div>
                </div>
                <div class="col-4 text-center p-1">
                    <button class="btn btn-secondary" (click)="llamar('111')"><span><i
                                class="bi bi-telephone-outbound-fill"></i></span>
                        Llamar</button>
                </div>
            </div>
        </div>

        <div class="bg-light rounded-3 shadow p-2">
            <div class="row p-2 align-items-center p-1">
                <div class="col-2 text-center"><i class="bi bi-person-circle fs-1 text-secondary"></i>
                </div>
                <div class="col-6">
                    <div class="text-center fw-bold fs-2">125</div>
                    <div class="text-center textEntidad">AMBULANCIAS</div>
                </div>
                <div class="col-4 text-center p-1">
                    <button class="btn btn-secondary" (click)="llamar('125')"><span><i
                                class="bi bi-telephone-outbound-fill"></i></span>
                        Llamar</button>
                </div>
            </div>
        </div>

        <div class="bg-light rounded-3 shadow p-2">
            <div class="row p-2 align-items-center p-1">
                <div class="col-2 text-center"><i class="bi bi-person-circle fs-1 text-secondary"></i>
                </div>
                <div class="col-6">
                    <div class="text-center fw-bold fs-5">01 8000 913666</div>
                    <div class="text-center textEntidad">LÍNEA ANTICORRUPCIÓN</div>
                </div>
                <div class="col-4 text-center p-1">
                    <button class="btn btn-secondary" (click)="llamar('018000913666')"><span><i
                                class="bi bi-telephone-outbound-fill"></i></span>
                        Llamar</button>
                </div>
            </div>
        </div>

    </div>

</div>