<div class="p-4">
    <h1>Términos y Condiciones</h1>
    <p>Aliadas, acogiendo y dando cumplimiento a lo dispuesto en la ley 1581 de 2012 y el Decreto Reglamentario 1377 de
        2013
        y
        lo consignado en el artículo 15 de nuestra Constitución Política, adopta y aplica la presente Política para el
        tratamiento de los datos personales. Aliadas, manifiesta que garantiza la intimidad, derechos a la privacidad, y
        el
        buen
        nombre de las personas, durante el proceso del tratamiento de datos personales, en todas las actividades, las
        cuales
        tendrán los principios de confidencialidad, seguridad, legalidad, acceso, libertad y transparencia.</p>
    <p>Se compromete a no revelar la información que se digita o transfiere a nuestra aplicación, de acuerdo con las
        normas
        de
        la Ley 527 que reglamenta el Comercio Electrónico en Colombia y la Ley 1581 de 2012 sobre el uso de datos
        confidenciales. Con la presente Política de Tratamiento y Protección de Datos Personales, se suple dejando sin
        efecto
        acuerdos y políticas expedidas con anterioridad.</p>
    <p>Aliadas, para dar cumplimiento a las políticas de protección de datos y a las obligaciones de la Ley 1581 de
        2012,
        sus
        Decretos Reglamentarios y las demás normas que la complementen, adicionen, enriquezcan o modifiquen, tiene en
        cuenta
        lo
        siguiente para el manejo de información y datos personales:</p>
    <p>La información personal es uno de los activos más importantes, por lo tanto, el tratamiento de esta información
        se
        realiza con sumo cuidado y atendiendo lo establecido por la ley, garantizando a las personas el pleno ejercicio
        y
        respeto por su derecho del Hábeas Data.</p>
    <p>La información que se encuentra en la Base de Datos propia ha sido obtenida en desarrollo de la aplicación para
        móviles
        Aliadas, su recopilación se ha hecho y se hará siempre atendiendo a los criterios y normatividad legal.</p>
    <h2>ALCANCE DE LA POLÍTICA DE PROTECCIÓN DE DATOS:
    </h2>
    <p>La Política de Protección de Datos Personales de Aliadas se aplicará a todas las Bases de Datos y/o archivos que
        contengan Datos Personales, que para Aliadas sea objeto de Tratamiento como responsable y/o encargado del
        tratamiento de
        Datos Personales.</p>
    <p>El Tratamiento de los Datos Personales se deberá hacer en los términos, condiciones y alcances de la autorización
        del
        Titular y/o en aplicación de las normas especiales cuando proceda alguna excepción legal para hacerlo. Cualquier
        tipo de
        solicitud, producto del ejercicio de los deberes y derechos consagrados en la política, podrá dirigirse a la
        Calle
        51
        No. 55-84 de la ciudad de Medellín, Colombia, con teléfono de contacto (57 4) 513 3100 y correo electrónico:
        servicioalcliente@aliadas.co</p>
    <h2>RESPONSABLE DEL TRATAMIENTO DE DATOS PERSONALES
    </h2>
    <p>La Escuela Nacional Sindical será la entidad responsable de administrar la aplicación móvil Aliadas, con sede
        principal
        en la Calle 51 No. 55-84 de la ciudad de Medellín, Colombia, con teléfono de contacto (57 4) 513 3100 y correo
        electrónico: servicioalcliente@aliadas.co, será la responsable del tratamiento de los datos personales y las
        bases
        de
        datos.</p>
    <h2>FINALIDAD DE LA RECOLECCIÓN Y TRATAMIENTO DE DATOS PERSONALES:
    </h2>
    <p>La finalidad de la Política de Protección de Datos Personales busca:
    </p>
    <ul>
        <li>Instrumentar los procedimientos de recolección y tratamiento de datos personales a las disposiciones de la
            ley.
        </li>
        <li>Generar un esquema organizado para salvaguardar los datos privados, semiprivados, públicos y sensibles de
            sus
            titulares.
        </li>
        <li>La finalidad de Aliadas con respecto a la recolección y tratamiento de Datos Personales frente a:
        </li>
    </ul>
    <h2>USUARIOS:
    </h2>
    <p>Busca llevar información y beneficios de valor agregado, los cuales considera son útiles para las trabajadoras
        domésticas.
    </p>
    <p>Por consiguiente, el Usuario acepta que Aliadas lo contacte por diferentes canales como teléfono fijo, teléfono
        celular,
        mensajes de texto a su celular, correo electrónico y redes sociales, para ofrecerle información y beneficios.
    </p>
    <h2>ÁMBITO DE APLICACIÓN
    </h2>
    <p>La presente política será aplicable a los datos personales registrados en cualquier base de datos de la Escuela
        Nacional
        Sindical cuyo titular sea una persona natural.</p>
    <h2>DEBERES DE LA ESCUELA NACIONAL SINDICAL COMO RESPONSABLE Y ENCARGADA DEL TRATAMIENTO DE LOS DATOS PERSONALES
    </h2>
    <p>La institución reconoce la titularidad que de los datos personales ostentan las personas y en consecuencia ellas
        de
        manera exclusiva pueden decidir sobre los mismos. Por lo tanto, la Escuela Nacional Sindical utilizará los datos
        personales para el cumplimiento de las finalidades autorizadas expresamente por el titular o por las normas
        vigentes.</p>
    <p>En el tratamiento y protección de datos personales, La Escuela Nacional Sindical tendrá los siguientes deberes,
        sin
        perjuicio de otros previstos en las disposiciones que regulen o lleguen a regular esta materia:</p>
    <ul>
        <li>Garantizar al titular, en todo tiempo, el pleno y efectivo ejercicio del derecho de hábeas data.
        </li>
        <li>Solicitar y conservar, copia de la respectiva autorización otorgada por el titular para el tratamiento de
            datos
            personales.
        </li>
        <li>Informar debidamente al titular sobre la finalidad de la recolección y los derechos que le asisten en virtud
            de
            la
            autorización otorgada.
        </li>
        <li>Conservar la información bajo las condiciones de seguridad necesarias para impedir su adulteración, pérdida,
            consulta,
            uso o acceso no autorizado o fraudulento
        </li>
        <li>Garantizar que la información sea veraz, completa, exacta, actualizada, comprobable y comprensible.
        </li>
        <li>Actualizar oportunamente la información, atendiendo de esta forma todas las novedades respecto de los datos
            del
            titular.
            Adicionalmente, se deberán implementar todas las medidas necesarias para que la información se mantenga
            actualizada.
        </li>
        <li>Rectificar la información cuando sea incorrecta y comunicar lo pertinente.
        </li>
        <li>Respetar las condiciones de seguridad y privacidad de la información del titular.
        </li>
        <li>Tramitar las consultas y reclamos formulados en los términos señalados por la ley.
        </li>
        <li>Identificar cuando determinada información se encuentra en discusión por parte del titular.
        </li>
        <li>Informar a solicitud del titular sobre el uso dado a sus datos.
        </li>
        <li>Informar a la autoridad de protección de datos cuando se presenten violaciones a los códigos de seguridad y
            existan
            riesgos en la administración de la información de los titulares.
        </li>
        <li>Cumplir los requerimientos e instrucciones que imparta la Superintendencia de Industria y Comercio sobre el
            tema
            en
            particular.
        </li>
        <li>Usar únicamente datos cuyo tratamiento esté previamente autorizado de conformidad con lo previsto en la ley
            1581
            de
            2012.
        </li>
        <li>Velar por el uso adecuado de los datos personales de los niños, niñas y adolescentes, en aquellos casos en
            que
            se entra
            autorizado el tratamiento de sus datos.
        </li>
        <li>Registrar en la base de datos las leyendas «reclamo en trámite» en la forma en que se regula en la ley.
        </li>
        <li>Insertar en la base de datos la leyenda «información en discusión judicial» una vez notificado por parte de
            la
            autoridad
            competente sobre procesos judiciales relacionados con la calidad del dato personal.
        </li>
        <li>Abstenerse de circular información que esté siendo controvertida por el titular y cuyo bloqueo haya sido
            ordenado por la
            Superintendencia de Industria y Comercio
        </li>
        <li>Permitir el acceso a la información únicamente a las personas que pueden tener acceso a ella.
        </li>
        <li>Usar los datos personales del titular sólo para aquellas finalidades para las que se encuentre facultada
            debidamente y
            respetando en todo caso la normatividad vigente sobre protección de datos personales.
        </li>
    </ul>
    <h2>AUTORIZACIÓN Y CONSENTIMIENTO DEL TITULAR
    </h2>
    <p>La ENS requiere del consentimiento libre, previo, expreso e informado del titular de los datos personales para el
        tratamiento de los mismos, exceptos en los casos expresamente autorizados en la ley, a saber:
    </p>
    <ul>
        <li>Información requerida por una entidad pública o administrativa en ejercicio de sus funciones legales o por
            orden
            judicial.
        </li>
        <li>Datos de naturaleza pública.
        </li>
        <li>Tratamiento de información autorizado por la ley para fines históricos, estadísticos o científicos.
        </li>
        <li>Datos relacionados con el Registro Civil de las Personas.
        </li>
    </ul>
    <h2>AVISO DE PRIVACIDAD
    </h2>
    <p>El Aviso de Privacidad es el documento físico, electrónico o en cualquier otro formato, puesto a disposición del
        titular
        para informarle acerca del tratamiento de datos personales. A través de este documento se comunica al titular la
        información relacionada con la existencia de las políticas de tratamiento de información de la Escuela Nacional
        Sindical
        y que le serán aplicables, la forma de acceder a las mismas y las características del tratamiento que se
        pretende
        dar a
        los datos personales.
    </p>
    <p>El aviso de privacidad deberá contener, como mínimo, la siguiente información:
    </p>
    <ul>
        <li>La identidad, domicilio y datos de contacto del responsable del tratamiento.
        </li>
        <li>El tipo de tratamiento al cual serán sometidos los datos y la finalidad del mismo.
        </li>
        <li>Los derechos del titular
        </li>
        <li>Los mecanismos generales dispuestos por el responsable para que el titular conozca la política de
            tratamiento de
            la
            información y los cambios sustanciales que se produzcan en ella. En todos los casos, debe informar al
            titular
            cómo
            acceder o consultar la política de tratamiento de información.
        </li>
        <li>El carácter facultativo de la respuesta relativa a preguntas sobre datos sensibles
        </li>
    </ul>
    <h2>VIGENCIA</h2>
    <p>La presente política rige a partir del 25 de mayo de 2020 y deja sin efectos los reglamentos o manuales
        especiales
        que
        se hubiese n podido adoptar por instancias académicas y/o administrativas en la institución.</p>
</div>