<div>
    <div class="containerForm" id="contentToConvert">
        <h3 class="titleTipoTrabajo">Liquidación Tiempo Completo</h3>
        <div class="px-3 py-5 form text-center">
            <h4 class="titleIngresarDatos">Información General</h4>

            <div class="row p-2">
                <div class="col-6">
                    <div class="resultado_titulo">Fecha Inicial</div>
                    <div class="resultado_subtitulo">{{fecha_inicio}}</div>
                </div>
                <div class="col-6">
                    <div class="resultado_titulo">Fecha Final</div>
                    <div class="resultado_subtitulo">{{fecha_fin}}</div>
                </div>
            </div>

            <div class="row p-2">
                <div class="col-6">
                    <div class="resultado_titulo">Días Laborados</div>
                    <div class="resultado_subtitulo">{{diasTotalesTrabajados__completo}}</div>
                </div>
                <div class="col-6">
                    <div class="resultado_titulo">Salario Mensual</div>
                    <div class="resultado_subtitulo">{{salario_mensual__completo | currency:'USD':'symbol':'1.0-0'}}
                    </div>
                </div>
            </div>

            <div class="row p-2">
                <div class="col-6">
                    <div class="resultado_titulo">Auxilio Transporte</div>
                    <div class="resultado_subtitulo">{{auxilio_transporte__completo | currency:'USD':'symbol':'1.0-0'}}
                    </div>
                </div>
                <div class="col-6">
                    <div class="resultado_titulo">Seguridad Social</div>
                    <div class="resultado_subtitulo">{{seguridadSocial__completo | currency:'USD':'symbol':'1.0-0'}}
                    </div>
                </div>
            </div>

            <div class="row p-2">
                <div class="col-6">
                    <div class="resultado_titulo">Otros Pagos</div>
                    <div class="resultado_subtitulo">{{otros_pagos__completo | currency:'USD':'symbol':'1.0-0'}}</div>
                </div>
                <div class="col-6">
                    <div class="resultado_titulo">Salario Recibido</div>
                    <div class="resultado_subtitulo">{{salarioMenosDeducciones__completo |
                        currency:'USD':'symbol':'1.0-0'}}</div>
                </div>
            </div>
        </div>

        <!-- LIQUIDACIÓN TRABAJO COMPLETO (POR MES) -->

        <div class="form p-4 my-3">
            <h4 class="titleIngresarDatos">Tu Liquidación</h4>
            <div class="row p-1 text-center">
                <div class="col-9 text-start resultado_subtitulo">
                    Cesantías
                </div>
                <div class="col-3 text-end resultado_subtitulo">
                    {{cesantias__completo | currency:'USD':'symbol':'1.0-0'}}
                </div>
            </div>

            <div class="row p-1 text-center">
                <div class="col-9 text-start resultado_subtitulo">
                    Intereses Cesantías
                </div>
                <div class="col-3 text-end resultado_subtitulo">
                    {{interesesCesantias__completo | currency:'USD':'symbol':'1.0-0'}}
                </div>
            </div>

            <div class="row p-1 text-center">
                <div class="col-9 text-start resultado_subtitulo">
                    Vacaciones
                </div>
                <div class="col-3 text-end resultado_subtitulo">
                    {{vacaciones__completo | currency:'USD':'symbol':'1.0-0'}}
                </div>
            </div>

            <div *ngIf="primaPrimerSemestre" class="row p-1 text-center resultado_subtitulo">
                <div class="col-9 text-start">
                    Prima Primer Semestre
                </div>
                <div class="col-3 text-end resultado_subtitulo">
                    {{prima__completo | currency:'USD':'symbol':'1.0-0'}}
                </div>
            </div>

            <div *ngIf="primaSegundoSemestre" class="row p-1 text-center resultado_subtitulo">
                <div class="col-9 text-start">
                    Prima Segundo Semestre
                </div>
                <div class="col-3 text-end resultado_subtitulo">
                    {{prima__completo | currency:'USD':'symbol':'1.0-0'}}
                </div>
            </div>

            <div *ngIf="showPrimaPonderada" class="row p-1 text-center resultado_subtitulo">
                <div class="col-9 text-start">
                    Prima
                </div>
                <div *ngIf="isPrimaPonderada === 'no'" class="col-3 text-end resultado_subtitulo">
                    {{primaPonderada | currency:'USD':'symbol':'1.0-0'}}
                </div>
                <div *ngIf="isPrimaPonderada ==='si'" class="col-3 text-end resultado_subtitulo">
                    {{prima__completo | currency:'USD':'symbol':'1.0-0'}}
                </div>
            </div>

            <hr>

            <div class="row p-1 my-3 text-center resultado_subtitulo">
                <div class="col-8 text-start fw-bold">
                    Total Liquidación
                </div>
                <div class="col-4 text-end resultado_subtitulo fw-bold"
                    *ngIf="isPrimaPonderada === 'si' || !isPrimaPonderada">
                    {{cesantias__completo + interesesCesantias__completo + vacaciones__completo + prima__completo |
                    currency:'USD':'symbol':'1.0-0'}}*
                </div>

                <div class="col-4 text-end resultado_subtitulo fw-bold" *ngIf="isPrimaPonderada === 'no'">
                    {{cesantias__completo + interesesCesantias__completo + vacaciones__completo +
                    primaPonderada |
                    currency:'USD':'symbol':'1.0-0'}}*
                </div>

            </div>
        </div>

        <div class="d-flex justify-content-center">
            <div class="p-1" [id]="id">
                <button class="btn btn-danger" (click)="deleteLiquidacion($event)"><span class="bi bi-x"></span>
                    Eliminar</button>
            </div>
            <div class="p-1">
                <button class="btn btn-secondary" [routerLink]="['/calculadora']"><span class="bi bi-plus"></span>
                    Nueva</button>
            </div>
            <div class="p-1">
                <button class="btn btn-primary" [routerLink]="['/calculadora/mis-liquidaciones']"><span
                        class="bi bi-check-lg"></span>
                    Ver Todas</button>
            </div>

        </div>
    </div>


</div>