<div class="p-3">
    <h1>Actualidad</h1>
    <div>
        <div class="row">
            <div class="col-12 col-md-3 pb-5" *ngFor="let item of noticia">
                <div>
                    <a [routerLink]="['/actualidad/' + item.id]"><img class="w-100 text-decoration-none"
                            src="../../../assets/noticia-1.jpg" alt="{{item.contenido}}"></a>
                </div>
                <a [routerLink]="['/actualidad/' + item.id]" class="text-decoration-none">
                    <h2>{{item.titulo}}</h2>
                    <p
                        [innerHTML]="item.contenido ? (item.contenido | slice:0:100) + (item.contenido.length > 20 ? '...' : '') : ''">
                    </p>
                </a>

                <div class="d-flex justify-content-center">
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>