/* You can add global styles to this file, and also import other style files */

:root {
    --primary-purple: #4e0077;
    --secondary-orange: #ea7a15;
    --primary-text-color: rgb(131, 131, 131);
}

h1,
h2,
h3,
h4 {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
    height: auto;
}

.edit_text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10;
    padding: 0;
    margin: 0;
}
.btn_mainColor {
    background-color: var(--primary-purple);
    color: white;
    border: 0px;
    padding: 5px 10px;
    border-radius: 4px;
}
.btn_seconColor {
    background-color: var(--primary-purple);
    color: white;
    margin: 40px auto;
    border: 0px;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 4px;
    display: flex;
}
.center {
    text-align: justify;
    justify-content: center;
    align-items: center;
    display: flex;
}
.row_center {
    margin: 40px auto;
    border: 0px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.row_center_without_spacing {
    justify-content: center;
    align-items: center;
    display: flex;
}
.btn_tertiaryColor {
    background-color: white;
    color: var(--primary-purple);
}