<div class="p-4">

    <div class="text-center my-3">
        <img class="w-50" src="../../../assets/logo-aliadas-cuadro.png" alt="">
    </div>

    <p>Aliadas es una aplicación móvil al servicio de las trabajadoras domésticas en Colombia. Su principal objetivo es
        informar acerca de la normatividad vigente entorno al trabajo doméstico y las entidades a las que pueden acudir
        las
        trabajadoras para exigir el cumplimiento de sus derechos laborales.</p>

    <p>Las Trabajadoras a través de Aliadas podrán acceder a una guía didáctica e interactiva de sus derechos laborales,
        a una
        calculadora salarial para la estimación de liquidaciones, prima de servicios y cesantías, a un listado de
        organizaciones
        dedicadas a la protección de sus derechos e información sobre el acceso a servicios en caso de accidente
        laboral,
        violencia y acoso en el lugar de trabajo u otros problemas recurrentes en el sector del servicio doméstico.</p>

    <p>La App Aliadas se enmarca en el proyecto “Fortalecer el movimiento de las trabajadoras del hogar en Latinoamérica
        a
        través del aprendizaje y la tecnología”.</p>

</div>