h1 {
    color: var(--primary-purple);
    text-align: center;
    font-size: 1.7em;
    margin: 30px 0px 30px 0px;
}

h2 {
    color: var(--primary-purple);
    text-align: center;
    font-size: 1.3em;
    margin-top: 2em;
}

p {
    text-align: justify;
    color: var(--primary-text-color)
}

li {
    text-align: justify;
}