<div class="p-3">
    <div>
        <h1>Realizadores</h1>

        <div class="row text-center align-items-center">
            <div class="col-12 col-md-3">
                <img src="../../../assets/organizaciones-ENS.png" alt="">
            </div>
            <div class="col-12 col-md-3">
                <img src="../../../assets/organizaciones-alianzared.png" alt="">
            </div>
            <div class="col-12 col-md-3">
                <img src="../../../assets/organizaciones-imago.png" alt="">
            </div>
            <div class="col-12 col-md-3">
                <img src="../../../assets/organizaciones-asociacion-hogar.png" alt="">
            </div>
            <div class="col-12 col-md-3">
                <img src="../../../assets/organizaciones-sintrahin.png" alt="">
            </div>
            <div class="col-12 col-md-3">
                <img src="../../../assets/organizaciones-sintraimagra.png" alt="">
            </div>
            <div class="col-12 col-md-3">
                <img src="../../../assets/organizaciones-utrasd.png" alt="">
            </div>
        </div>

        <h1>Cooperantes</h1>

        <div class="row text-center align-items-center">

            <div class="col-12 col-md-3">
                <img src="../../../assets/organizaciones-care.png" alt="">
            </div>

            <div class="col-12 col-md-3">
                <img src="../../../assets/organizaciones-cummins.png" alt="">
            </div>

        </div>

        <div>

            <h1>Aliados</h1>

            <div class="row text-center align-items-center">
                <div class="col-12 col-md-3">
                    <img src="../../../assets/organizaciones-igual.jpg" alt="">
                </div>
                <div class="col-12 col-md-3">
                    <img src="../../../assets/organizaciones-mujeres.jpg" alt="">
                </div>
                <div class="col-12 col-md-3">
                    <img src="../../../assets/organizaciones-bien-humano.png" alt="">
                </div>
            </div>

        </div>
    </div>
</div>